.game-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #657085;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  border: 0.25vmin solid black;
  box-shadow: 0 0 0.5em 0 black;
  z-index: 1000;
}

.settings-button {
  font-size: 7vmin;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 0;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 0px 0px 0.75vmin black, 0 0 0.5em 0 black;
  position: fixed;
  background-color: #cdcdcd;
  color: black;
}

.settings-button-opened {
  visibility: hidden;
}

.small-button {
  font-size: 4vmin;
  width: 2em;
  height: 1.25em;
  text-align: center;
  line-height: 0;
  border-radius: 50%;
  border: 0.25vmin solid black;
  background-color: #cdcdcd;
  color: black;
  margin: 0.5vmin 1vmin;
}

.small-button:disabled {
  background-color: #878787;
  color: #4a4a4a;
}

@media (hover: hover) {
  .settings-button:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .small-button:enabled:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.settings-button:active {
  background-color: #feffb1;
}

.small-button:enabled:active {
  background-color: #feffb1;
}

@media (max-aspect-ratio: 1/1) {
  .game-bar {
    font-size: 5vmin;
  }
  .settings-button {
    font-size: 9vmin;
    position: fixed;
    right: 0.2em;
    top: 0.2em;
  }
  .small-button {
    display: none;
  }
}
